OUT_3D
OUT_3D/
OUT_STAT
OUT_STAT/

condensed_entrain
core_entrain
data
density
hdf5
tracking

*.log
*.pkl
pkl/

interrupted_large_clouds.json
large_clouds.json
uninterrupted_large_active_clouds.json
uninterrupted_large_clouds.json